body {
  font-family: 'Segoe UI', sans-serif;
  margin: 20px;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ECAAC2;
  border: none;
  border-radius: 8px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.ramo {
  padding: 15px;
  background-color: #d6eaff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  text-align: center;
}

.ramo:hover {
  background-color: #EEBFD1;
}

.ramo.practico {
  background-color: #BED1E3;
}

.ramo.completado {
  background-color: #DABBE0;
  text-decoration: line-through;
  color: #555;
}

.ramo.bloqueado {
  background-color: #ECAAC2;
  color: #555;
  cursor: not-allowed;
  border-style: dashed;
}
